/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.main-footer {
	padding: 0px 30px 0px 30px;
	margin-top: 25px;
	width: 100%;
}

@media (min-width: 1199px) {
	.main-footer {
		padding: 20px 30px 20px 330px;
		margin-top: 25px;
		width: 100%;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.hover-scale {
	transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
	transform: scale(1.1);
}
